@model IEnumerable<CC.Context.ContextModels.Cafe>

@{
    ViewBag.Title = "ListOfCafes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section body{

    <div class="container body-content font18">
        <h2>Список заведений</h2>

        @using (Html.BeginForm("ListOfCafes", "Cafe", FormMethod.Get))
        {
            <input name="cafe" type="text" placeholder="Введите название заведения"/>
            @*@Html.TextBox("cafe")*@ <input type="submit" value="Поиск" />
        }

        <br />

        <table class="table table-bordered table-hover">
            <tr>
                <th>
                    @Html.DisplayName("Название заведения")
                </th>
                <th></th>
            </tr>

            @if (Model.Count() == 0)
            {
                <tr>
                    <td class="to-centre" colspan="1" style="color: red;">
                        Заведений не найдено
                    </td>
                </tr>
            }

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td class="to-centre">
                        <a href="~/Cafe/GetCafe/@item.Id">Подробнее</a>
                    </td>
                </tr>
            }

        </table>
    </div>

}

@section footer{
    @{
        Html.RenderPartial("_Footer");
    }
}






