@model IEnumerable<CC.Context.Cafe>

@{
    ViewBag.Title = "ListOfCafes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content">
    <h2>Список заведений</h2>

    @using (Html.BeginForm("ListOfCafes", "Cafe", FormMethod.Get))
    {
        @Html.TextBox("cafe") <input type="submit" value="Поиск" />
    }

    <br />

    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Название заведения")
            </th>
            <th></th>
        </tr>

        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="1" style="color: red;">
                    Заведение не найдено
                </td>
            </tr>
        }

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                    <a href="~/Cafe/GetCafe/@item.Id">Подробнее</a>
                    @*@Html.ActionLink("Подробнее", "GetCafe", "Cafe", new { item.Id}, htmlAttributes: new { id = "myId"})*@
                    @*@Html.ActionLink("Подробнее", "GetCafe", "Cafe", new { id = item.Id})*@
                </td>
            </tr>
        }

    </table>
</div>




