@model IEnumerable<CC.Context.ContextModels.Cafe>

@{
    ViewBag.Title = "UserCafe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section body{

    <div class="container body-content font18">
        <h2>Список Ваших заведений</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Название заведения")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>

                    <td>
                        <a href="~/Cafe/GetCafe/@item.Id">Подробнее</a> |
                        <a href="~/Cafe/EditDescription/@item.Id">Редактировать</a> |
                        <a href="~/Cafe/DeleteDescription/@item.Id">Удалить</a>
                    </td>
                </tr>
            }
        </table>
        @Html.ActionLink("Назад", "AccountIndex", "Manage")
    </div>

}

@section footer{
    @{
        Html.RenderPartial("_Footer");
    }
}




