@{
    ViewBag.Title = "OrderIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container body-content" style="font-size: 20px;">
    <h2>Магазин Coffee-Cup</h2>
    <hr />

    @Html.ActionLink("Получить Coffee-Coins", "GetCoffeeCoins", "Order") |
    @Html.ActionLink("Получить купоны на кофе", "GetTickets", "Order")

</div>




