@{
    ViewBag.Title = "OrderIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section body{

    <div class="container body-content font18">
        <h2>Магазин Coffee-Cup</h2>
        <hr />
        <p>
            @Html.ActionLink("Получить Coffee-Coins", "GetCoffeeCoins", "Order") |
            @Html.ActionLink("Получить купоны на кофе", "GetTickets", "Order")
        </p>

        <p>
            @Html.ActionLink("Цены на продукцию Coffee-Cup", "PriceList", "Home")
        </p>
    </div>

}

@section footer{
    @{
        Html.RenderPartial("_Footer");
    }
}






