@{
    ViewBag.Title = "Main Page";
}

<!-- #region Видео -->

<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="~/Content/Videos/VideoBackground.mp4" type="video/mp4" />
        </video>
        <div class="poster hidden">
            <img src="PATH_TO_JPEG" alt="">
        </div>
    </div>
</div>

<!-- #endregion -->
<!-- #region Описание работы приложения -->

<hr />

<div id="about">
    <div class="col-md-12" id="First">
        Что такое
        <strong>Coffe-Cup</strong>
    </div>

    <div id="Second" class="col-md-12">
        <p>
            Это оплаченные купоны на различную продукцию
        </p>

        <p>
            в твоем городе
        </p>
    </div>

    <div class="col-md-12" id="Third">
        <div class="col-md-4 to-centre">
            <p class="font20 bold">
                Это выгодно
            </p>

            <p class="font20">
                По абонементу Coffee-Cup Вы экономите на каждом купленном продукте
            </p>
        </div>

        <div id="Img" class="col-md-4 to-centre">
            <img src="~/Content/Pictures/coffee-cup.svg" />
        </div>

        <div class="col-md-4 to-centre" style="margin: 0 auto;">
            <p class="font20 bold">
                Это оплачено
            </p>

            <p class="font20">
                Если Вы купили купон Coffee-Cup, то в заведении уже платить не надо
            </p>
        </div>
    </div>

    <div class="col-md-12 font20" id="Forth">
        <div class="col-md-4 to-centre">
            <p class="bold">
                Это удобно
            </p>

            <p>
                Вы можете найти заведение на карте, где можно воспользоваться купоном, а также прочитать последние новости
            </p>
        </div>

        <div class="col-md-4">

        </div>

        <div class="col-md-4 to-centre">
            <p class="bold">
                Это Coffee-Cup
            </p>

            <p>
                При регистрации в подарок вы получите 2 Coffee-Coins
            </p>
        </div>
    </div>
</div>

<div id="howItWorks" class="to-centre">
    <div class="col-md-12" id="alg">
        <p class="bold">Как это работает</p>
        <div class="font25">
            <p>
                <img class="little-img" src="~/Content/Pictures/one.svg" />
                Купите валюту Coffee-Coins
            </p>
            <p>
                <img class="little-img" src="~/Content/Pictures/two.svg" />
                Купите купон на понравившийся Вам продукт
            </p>
            <p>
                <img class="little-img" src="~/Content/Pictures/three.svg" />
                Выберите заведение, в которое хотите пойти
            </p>
            <p>
                <img class="little-img" src="~/Content/Pictures/four.svg" />
                Попросите официанта обналичить Ваш купон
            </p>
            <p>
                <img class="little-img" src="~/Content/Pictures/five.svg" />
                Получите Ваш продукт
            </p>
        </div>
    </div>
</div>

<!-- #endregion -->
