<ul class="nav navbar-nav">

    <li>@Html.ActionLink("Новости", "AllRecords", "Manage")</li>
</ul>

<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Вход", "Login", "Account")</li>
    <li>@Html.ActionLink("Регистрация", "Create", "Account")</li>
</ul>
