<div class="">
    <hr />
    <div id="footer" class="col-md-12">
        <div id="fot">

            <div class="col-md-3">
                <p>Разработчики</p>
                <p>
                    Petrochenko Sergey
                    <a href="https://vk.com/id160371377" target="_blank">
                        <img class="super-little-icon" src="~/Content/Pictures/vk.svg" />
                    </a>
                </p>
                <p>
                    Shabolda Artyom
                    <a href="https://vk.com/id143773139" target="_blank">
                        <img class="super-little-icon" src="~/Content/Pictures/vk.svg" />
                    </a>
                </p>
                <p>
                    Stoukachev Yaroslav
                    <a href="https://vk.com/ystukachyov" target="_blank">
                        <img class="super-little-icon" src="~/Content/Pictures/vk.svg" />
                    </a>
                </p>
            </div>

            <div class="col-md-3">

            </div>

            <div class="col-md-3">

            </div>

            <div class="col-md-3">

            </div>
        </div>

    </div>

</div>
